
/*=======global start=================*/
*
{
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family:  'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: #f6f5f6;
}
:root{
    --main-color:#08526d;
    --span-color:#bfc6c9;
    --hover-color:#ec1c23;
    --back-color:#e4e4e4;
    --para-color:#969090;
}
/*=======global end=================*/

/*=======framework start=================*/
p{color: var(--para-color);}
.overview p, .featured-work p, .featured-work p, .latest-post .lead
{width: 80%; margin:0 auto 35px; line-height: 1.7em;}
.h1{
    font-size: 35px; 
    margin-bottom: 1em; 
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.features, .overview, .featured-work, .latest-post, .Pricing-Table, .statistics, .contact-us{
    padding: 70px 0;
}
.overview{
    background-color:var( --back-color);
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.carousel-indicators li{height: 8px;}
/*=======framework end=================*/

/*--============upper-start============--*/
.upper-bar{
    background-color: var( --main-color);
    color: white;
    padding: 10px;
}
.upper-bar span{margin: 0 6px; color:var(--span-color) ; }
.upper-bar  button{
    background: none;
    outline: none;
    border: 1px solid var( --hover-color);
    margin-left: 15px;
    padding: 0px 20px;
    color: white;
}
/*--============upper-end============--*/

/*--============navbar-start============--*/
.navbar{
    padding: 20px;
}
.navbar-brand {
    color: var(--main-color); 
    font-size: 30px;
    font-weight: bold;
}
.navbar-brand span{color: var( --hover-color); font-weight: 100;}
.navbar .nav-item .nav-link{
    color: var(--main-color);
    font-weight: bold;
    margin-left: 25px;
}
.navbar-light .navbar-nav .active > .nav-link{color: var(--hover-color);}
.navbar .nav-item .nav-link:hover{color: var(--hover-color);}
/*--============navbar-end============--*/

/*--============slider start============--*/
.slider .carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
}
.slider .carousel-inner h1{
    position: absolute;
    z-index: 3;
    color: white;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 77px;
    max-width: 850px;
}
.slider .carousel-inner h1 span{background-color: var(--hover-color); padding: 0 5px;}
/*--============slider end============--*/

/* ==========features start=================== */
.features .feat i{
    background-color: var(--hover-color);
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    margin-bottom: 15px;
}
.features .feat .content h3{color: var(--main-color); font-weight: 600;}
/* ==========features end=================== */

/* ===========Overview start============ */
.overview span{
    display: block;
    margin: 10px 0 30px;
    letter-spacing: 5px;
}
.overview button{
    outline: none;
    border: none;
    background-color: var(--hover-color);
    color: white;
    padding: 8px 15px;
}
/* ===========Overview end============ */

/* -- ========featured-work start========= -- */
.featured-work ul li{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 5px 15px;
    margin:  10px;
    cursor: pointer;
    transition: 0.3s;
}
.featured-work ul li.active,
.featured-work ul li:hover{
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
    color: white;
}
/* ========images start========= */
.images{margin-top: 2em;}
.images .col-md-3{padding: 0;}
.images .row img{width: 100%;}
/* -- ========featured-work end========= -- */

/* --========latest post start=========-- */
.latest-post h5{color: var(--main-color); font-weight: 600;}
.text-muted{color:#b1b1b1!important;}
.card-link{color: var(--hover-color); font-weight: 600;}
.latest-post .card{
    margin-bottom: 20px; 
    margin-top: 20px; 
}
/* --========latest post end=========-- */

/* ========Testimonials start========= */
.testimonials{
    position: relative;
    background: url('../images/technology-business-computer-designer.jpg') no-repeat center center  fixed;
    background-size: cover;
}
.testimonials .carousel{
    position: relative;
    z-index: 5;
}
.testimonials .carousel .carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.testimonials .carousel .carousel-caption img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin: auto;
   margin-bottom: 25px;
}
.testimonials .carousel .carousel-caption p{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.testimonials .carousel-control-prev-icon, .testimonials .carousel-control-next-icon{
    padding: 25px;
    background-color: var(--hover-color);
}
.testimonials .overlay{background-color: rgba(0, 0, 0, 0.8);}
/* ========Testimonials end========= */

/* ========Pricing-Table start========= */
.Pricing-Table .lead{margin-bottom: 5em;}
.pricing{
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.19);
    padding: 50px 0;
    margin-bottom: 15px;
}
.pricing h3{color:var(--main-color); font-weight: 600;}
.pricing  p{font-size: 30px; color: var(--main-color); font-weight: bold;}
.pricing span{ color: #b1b1b1; display: block; margin-bottom: 1.5em;}
.pricing  .back{
    background-color: var(--hover-color);
    padding: 10px 20px;
    color: white;
}
.pricing .b{
    color: white;
    padding: 8px 15px;
    border-radius: none;
    outline: none;
    margin-top: 25px;
}
.pricing .btn-2{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.pricing .btn-1, .pricing .btn-3{
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
}
/* ========Pricing-Table end========= */

/* ========why-Choose-Us start========= */
.why-Choose-Us img{height: 100%;}
.why-Choose-Us .info{
    background-color: var(--main-color);
    color: white;
    padding: 35px ;
    height: 100%;
}
.why-Choose-Us .info p{
    color: #c3c3c3;
    line-height: 1.7em;
}
.why-Choose-Us button{
    background-color: var(--hover-color);
    padding: 8px 20px;
     margin-top: 35px;
    color: white;
     border: none;
     outline: none;
}
/* ========why-Choose-Us end========= */

/* ========= Statistics-start ========= */
.statistics i{font-size: 50px;color: var(--main-color); margin-bottom: 10px;}
.statistics h2{color: var(--main-color); font-weight: 600px; }
.statistics h6{color: var(--hover-color);}
/* ========= Statistics-end ========= */

/* ========= contact-us start========= */
.contact-us{
    background-color: var(--hover-color);
    color: white;
}
.contact-us button{
    outline: none;
    background-color: var(--hover-color);
    border: 1px solid white;
    padding: 8px 20px;
    color: white;
}
/* ========= contact-us end========= */

/* ========= footer start========= */
.footer{padding: 100px 0;border-bottom: 3px solid var(--para-color);}
.footer .foot{ padding: 20px 0;}
.footer .foot h3{font-weight: bold; color: var(--main-color); margin-bottom: 1em;}
.footer .foot-1 h2{
    font-size: 35px; 
    margin-bottom: 20px;
    color: var(--main-color); 
    font-weight: bold;
}
.footer .foot-1 h2 span{color: var(--hover-color); font-weight: 100;}
.footer .foot-1 a{color: var(--main-color); font-weight: 600;}
.footer .foot-1 i{
    background-color: var(--main-color); 
    color: white;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    padding: 1px 5px;
}
.footer .foot-2 ul li{float: left;width: 50%;margin-bottom: 8px;}
.footer .foot-2 a{color: var(--main-color);font-weight: 600;}
.footer .foot-3 p{margin-bottom: 40px;}
.footer .foot-3 a{ color: var(--main-color);font-weight: 600;
}
/* ========= footer end========= */

/* =========end the start========= */
.the-end{ padding: 20px 0;}
.the-end a{
    color: var(--para-color); 
    margin-left: 35px;
    font-size: 17px;
}
/* =========end the end========= */